.lh8X96a70biV8SQt8Xig { /*!*/ }
.W6LKCxXdya2P6l2kmafs {

border: 1px solid #e2e2e2;
box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 20%);
}
.YGH7CrE7fufh_Awk745V { /*!*/ }
.guSrblL6rVQqDzss8JuH {

float: right;
}
