.lp93wa2J6Ma1tAyGSaoH { /*!*/ }
._U1Ydz733LC9dIyZRXpA {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.cUD3IHNoX5HmDFeHK0A9 { /*!*/ }
.SyjbKNLngaLv1BmaajOi {

margin: 0;
padding-top: 24px;
color: #aaa;
}
.OUqBkGELV1LqBrfx5gWV { /*!*/ }
.IS56XzeNXjvjzMkh9m7n {

position: relative;

border: 10px;
}
.iDNQ27wTkFRWQ9k78z2Q { /*!*/ }
.H8pmp6jVGGQuc7zYfVsc {

width: 92px;
height: 128px;
filter: drop-shadow(0px 2px 14px rgba(0 0 0 / 0.1))
drop-shadow(0px 1px 3px rgba(0 0 0 / 0.1));
}
.PoiRXcTHTZGLB4rhHGiB { /*!*/ }
.HHZrC736yK4vjdngiJvx {

position: relative;
float: right;
width: 0;
height: 0;
border-bottom: 34px solid white;
border-right: 34px solid transparent;

filter: drop-shadow(-1px 1px 1px rgba(0 0 0 / 0.1))
drop-shadow(0px 4px 8px rgba(0 0 0 / 0.05));

z-index: 1;
}
.gVtinFDypgFEWgYZJa7I { /*!*/ }
.PknZoi6tJegu3G4894QA {

float: left;
width: 58px;
height: 128px;
background-color: white;
}
.ygZDCoXxhhkqP4ZREQ6j { /*!*/ }
.jUX7HjmTnsVpWs23_n92 {

float: right;
width: 34px;
height: 94px;
background-color: white;
}
.RZrbqSTTgS6WsNHnQqwa { /*!*/ }
.jcfaXV2xdLp8krcsrKrR {

background-color: #404045;
border-radius: 3px;
color: white;
padding: 4px 4px 3px;
min-width: 64px;

font-family: sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.004px;
text-align: center;

position: absolute;
top: 84px;
left: -14px;
}
