.r4YZC5CWRHBlzhSxFGgN { /*!*/ }
.PoNLzl6ajgC40TkQm8Rl {

display: block;
position: relative;
}
.eaPdLZuFMf6qirCb5fgW { /*!*/ }
.J2iNAZYNvTspGQgs43JA {

transform-origin: 0 0;
display: block;
position: absolute;
inset: 0;
z-index: -1;
}
.U83WFMVJmrJM4Me2XgQw { /*!*/ }
.qF6K9l_ZvNPBQrmo38G_ {

font-size: 24px;
font-weight: bold;
color: white;
padding: 12px;
}
