.player {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 48px;

  border-radius: 4px;

  background-color: #aaa;
}

.control {
  fill: white;
  background-color: transparent;
  border: none;

  padding: 12px;
}

.info {
  color: white;
  padding: 12px;

  font-feature-settings: 'tnum';
}

@supports (font-variant-numeric: tabular-nums) {
  .info {
      font-feature-settings: 'tnum';
      font-variant-numeric: tabular-nums;
  }
}

.control[data-playing=false] svg.pause {
  display: none;
}

.control[data-playing=true] svg.play {
  display: none;
}
