*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  display: grid;
  grid-template-columns: minmax(auto, 1280px);
  grid-template-rows: 1fr min-content;
  justify-content: center;
  padding: 24px 24px 48px;
}

main > img {
  width: 260px;
  height: 260px;

  border-radius: 3px;
}

/* --- reset list --- */
ul.reset,
ul.reset li,
ul.reset ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
/* --- reset list --- */

.contacts > li {
  display: inline;
}

.contacts > li > a {
  margin-right: 8px;
}

a {
  --base-hover: rgb(233, 235, 255);
  color: black;

  border-radius: 1px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: center bottom 1%;
  background-origin: initial;
  background-size: 100% 1px;
  outline: none;

  transition: background-color 0.2s ease, box-shadow 0.2s ease
}

a:hover {
  color: black;
  background-color: var(--base-hover);
  box-shadow: 0 0 0 4px var(--base-hover);
}
