.paragraph {
  margin: 10px 0;
  line-height: 1;
  color: var(--paragraph-color, black);
}

.paragraph__centered {
  text-align: center;
}

.paragraph__letters {
  word-break: break-all;
}

.paragraph__outline {
  -webkit-text-stroke: 4px var(--paragraph-color, black);
  text-stroke: 4px var(--paragraph-color, black);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@media (max-width: 800px) {
  .paragraph__outline {
    -webkit-text-stroke: 2px var(--paragraph-color, black);
    text-stroke: 2px var(--paragraph-color, black);
  }
}

.section {
  position: relative;
  overflow: hidden;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.section_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;

  justify-content: center;
}

.section_body__centered {
  align-items: center;
}

.section_image {
  position: absolute;
  inset: 0px;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

.section_image__small {
  width: 70%;
  height: 70%;
  object-fit: contain;

  inset: 50%;
  transform: translate(-50%, -50%);
}

.font_size {
  font-size: 128px;
}

@media (min-width: 800px) and (max-width: 900px) {
  .font_size {
    font-size: 96px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .font_size {
    font-size: 64px;
  }
}

@media (max-width: 500px) {
  .font_size {
    font-size: 48px;
  }
}
